body {
  margin: auto;
  overflow-x: hidden;
}

h1 {
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  margin: auto;
}

h2 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 3rem;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

.credits {
  background: #404040;
  height: 62.5rem;
  width: 100%;
  text-align: center;
}

.credits-header {
  font-size: 3rem;
  margin: auto;
  max-width: 62.5rem;
}

.credits-link {
  color: #f27d00;
  text-decoration: none;
}

.credits-link:hover {
  color: #C70D3A;
}

.top-bg {
  background-image: linear-gradient(to right, #230338, #C70D3A, #ED5107);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: -5%;
  width: 110%;
  z-index: -1;
}

.top-container {
  height: auto;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position: relative;
}

.top-item1 {
  height: auto;
  margin: 8rem auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.second-container {
  background-color: #FFFFFF
  height: auto;
  margin: 8rem 3rem;
  text-align: center;
}

.second-item1 {
  text-align: center;
}

.profile-pic {
  height: 15rem;
  width: 15rem;
}

.greeting {
  background-color: #C70D3A;
  background-image: linear-gradient(to right, #230338, #C70D3A, #ED5107);
  background-clip: text;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

.intro {
  color: #230338;
  margin: auto;
  max-width: 68.75rem;
}

.third-bg {
  background-color: #404040;
  border-bottom: 30px solid #404040;
  border-top: 100px solid #404040;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 90%;
  overflow: hidden;
  position: absolute;
  right: -25%;
  width: 150%;
  z-index: -1;
}

.third-container {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.third-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 8rem auto;
}

.third-item1 {
  margin: 3rem 3rem;
  text-align: center;
}

.skills {
  color: #ec2555;
  margin: auto;
  padding-top: 6rem;
}

.third-item2 {
  margin: auto auto 6.25rem;
  width: 100%;
}

.software-grid {
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  padding-top: 3rem;
  text-align: right;
}

.skill-header-font1 {
  font-size: 5rem;
  margin: auto;
  padding-right: 4rem;
  text-align: right;
}

.skills-p1 {
  color: #ec2555;
  padding-right: 4rem;
  text-align: right;
}

.third-item3 {
  margin: auto auto 6.25rem;
  text-align: left;
  width: 100%;
}

.third-item4 {
  margin: auto auto 6.25rem;
  text-align: left;
  width: 100%;
}

.JavaScript {
  height: 256px;
  margin: 3.125rem;
  width: 256px;
}

.Bootstrap {
  height: auto;
  margin: 3.125rem;
  padding: 25px 0;
  width: 256px;
}

.HTML {
  height: 256px;
  margin: 3.125rem;
  width: 256px;
}

.css {
  height: 256px;
  margin: 3.125rem 5rem;
  width: 181.5px;
}

.github-lg {
  height: 256px;
  margin: 3.125rem;
  width: 256px;
}

.python {
  margin: 3.125rem;
}

.third-item5 {
  align-items: flex-start;
  margin: auto;
  text-align: right;
  width: 100%;
  justify-items: start;
  margin: 5rem auto auto;
}

.webdev-grid {
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  padding-top: 3rem;
  text-align: right;
}

.skills-p2 {
  color: #ec2555;
  padding-right: 4rem;
  text-align: right;
}

.skill-header-font2 {
  align-self: flex-start;
  font-size: 5rem;
  padding-right: 4rem;
  margin: auto auto;
  /* padding-top: -10rem; */

}

.fourth-container {
  background-color: #FFFFFF;
  display: grid;
  height: auto;
  margin: auto 3rem 8rem;
}

.fourth-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projects-header {
  color: #404040;
  margin: 4rem auto;
}

.projects-title {
  background-color: #C70D3A;
  background-image: linear-gradient(to right, #230338, #C70D3A, #ED5107);
  background-clip: text;
  background-repeat: repeat;
  color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-p {
  color: #230338;
  margin: auto;
  max-width: 43.75rem;
}

.fourth-item1 {
  margin: auto;
  text-align: center;
}

.fourth-item2 {
  margin: auto;
  text-align: center;
  width: 100%;
}

.selenium {
  height: 256px;
  margin: auto 2rem auto auto;
  width: 256px;
}

.chromedriver {
  height: 256px;
  margin: auto auto auto 2rem;
  width: 256px;
}

.fourth-item3 {
  align-self: start;
  margin: auto;
  text-align: center;
  width: 100%;
}

.pandas {
  height: 256px;
  margin: auto 2rem auto auto;
  width: auto;
}

.salesforce {
  height: 256px;
  margin: auto auto auto 2rem;
  width: auto;
}

.fourth-item4 {
  margin: auto;
  text-align: center;
  width: 100%;
}

.numpy {
  height: 256px;
  margin: auto 2rem auto auto;
  width: auto;
}

.pillow {
  height: 256px;
  margin: auto auto auto 2rem;
  width: auto;
}

.fifth-container {
  align-items: center;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.fifth-bg {
  background-color: #ec2555;
  border-bottom: 250px solid #ec2555;
  border-top: 100px solid #ec2555;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: -12.5%;
  width: 125%;
  z-index: -1;
}

.fifth-item1 {
  align-self: flex-start;
  height: 100%;
  margin: 3rem auto 8rem;
  padding-top: 6.25rem;
}

.question {
  color: #ffa200;
  margin: auto;
  padding-top: 3.125rem;
  width: 75%;
}

.contact-messsage {
  color: #230338;
  margin: 2.5rem auto 3.75rem;
  width: 75%;
}

.btn {
  background: #DFF6FF;
  background-image: -webkit-linear-gradient(top, #230338, #230338);
  background-image: -moz-linear-gradient(top, #230338, #230338);
  background-image: -ms-linear-gradient(top, #230338, #230338);
  background-image: -o-linear-gradient(top, #230338, #230338);
  background-image: linear-gradient(to bottom, #230338, #230338);
  border-radius: 60px;
  -moz-border-radius: 60;
  -webkit-border-radius: 60;
  color: #DFF6FF;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #404040;
  background-image: -webkit-linear-gradient(top, #f27d00, #f27d00);
  background-image: -moz-linear-gradient(top, #f27d00, #f27d00);
  background-image: -ms-linear-gradient(top, #f27d00, #f27d00);
  background-image: -o-linear-gradient(top, #f27d00, #f27d00);
  background-image: linear-gradient(to bottom, #f27d00, #f27d00);
  text-decoration: none;
}

.bottom-container {
  background-color: #404040;
  height: 12.5rem;
  margin-left: 0;
  margin-right: 0;
  padding-top: 7.5rem;
  text-align: center;
}

.footer-link {
  color: #ec2555;
  font-size: 2rem;
  margin: 2rem;
  width: 40%;
}

.bottom-text {
  color: #FFFFFF;
}

.bold-this {
  font-weight: bold;
}

.italicize-this {
  font-style: italic;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

@media (max-width: 1900px) {
  .third-grid {
    grid-template-columns: 1fr;
    margin: 8rem auto 5rem;
  }

  .third-item2 {
    justify-content: center;
    text-align: center;
  }

  .software-grid {
    float: none;
    justify-content: center;
    text-align: center;
    padding: 3rem auto;
  }

  .third-item3 {
    text-align: center;
    margin: auto;
  }

  .webdev-grid {
    float: none;
    justify-content: center;
    text-align: center;
    padding: 3rem auto;
  }

  .third-item4 {
    margin: auto auto 11rem;
    padding-left: 2rem;
    text-align: center;
  }

  .third-item5 {
    text-align: center;
  }

  .skill-header-font1 {
    margin: auto 3rem;
    padding: 0;
    text-align: center;
  }

  .skills-p1 {
    padding: 0;
    text-align: left;
  }

  .skill-header-font2 {
    width: 800px;
    padding-left: 3rem;
    text-align: left;
  }

  .skills-p2 {
    padding: 0;
    text-align: left;
  }

  .projects-header {
    margin: 0 auto 4rem;
  }

  .third-bg {
    right: -75%;
    width: 250%;
  }
}

@media (max-width: 2750px) {
  .fourth-grid {
    grid-template-columns: 1fr;
  }

  .software-grid {
    text-align: center;
    padding: 3rem auto;
  }

  .fourth-item2 {
    margin: 6rem auto 9.5rem;
  }

  .fourth-item3 {
    margin: auto auto 10rem;
  }
}

@media (max-width: 1000px) {

  .third-container {

  }

.third-item2 {
  margin: auto auto 4rem;
}

  .software-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: auto 2rem;
    padding: 3rem auto auto;
    line-height: 1.5;
    vertical-align: middle;
  }

.skills-p1 {
  text-align: center;
}

.long-skill {
  margin: 0;
  line-height: 1.5;
}

  .third-item4 {
    margin: auto auto 13rem;
    padding-left: 0;
  }

  .third-grid {
  margin: 8rem auto 6rem;
  }

  .third-item5 {
    margin: 5rem auto 4rem;
  }

  .webdev-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 2rem;
    text-align: center;
    padding: 3rem auto auto;
    /* text-align: left; */
    line-height: 1.5;
    vertical-align: middle;
  }

  .skill-header-font2 {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }

  .skills-p2 {
    text-align: center;
    line-height: 1;

  }

  .Bootstrap {
    padding: 0;
  }

  .selenium {
    margin: 1rem;
  }

  .chromedriver {
    margin: 1rem;
  }

  .pandas {
    margin: 1rem;
  }

  .salesforce {
    margin: 1rem;
  }

  .numpy {
    margin: 1rem;
  }

  .pillow {
    margin: 1rem;
  }

  .fifth-bg {
    right: -50%;
    width: 200%;
  }

  .third-bg {
    right: -100%;
    width: 300%;
  }
}
